<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="/paroly/public/../assets/style/output.css" />
<link
  rel="icon"
  type="image/ico"
  href="/paroly/public/../assets/images/paroly_logo.png"
/>
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<script src="https://cdn.tailwindcss.com"></script>

<link
  href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lexend&family=Podkova&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<style>
  html {
    font-family: poppins;
  }

  #sidebar {
    position: fixed;
    top: 0;
    right: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .sidebar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #sidebar.open {
    right: 0;
  }

  #btn_container {
    left: -16px;
  }

  #btn_container.open {
    left: 85%;
  }

  .sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 5px;
  }

  .sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #828282;
  }
  .card:hover .watch-button {
    visibility: visible;
  }

  .watch-button {
    visibility: hidden;
    transition: all 0.3s ease;
  }

  /* @media only screen and (max-width: 768px) {
        .sidebar {
            left: -50%;
        }
    } */
</style>
