<div id="sidebar" class="sidebar w-full md:w-[30%] overflow-y-auto">
    <div class="flex flex-col gap-1">
        <div class="fixed w-full md:w-7/12 h-8">
            <div class="flex justify-between h-3 pl-5 pt-2 ">
                <div onclick="closeSideBar()" class="text-2xl font-bold cursor-pointer mr-3">
                    <img class="h-12 object-contain" src="/paroly/public/../assets/images/arrow_right.svg" alt="">
                </div>
            </div>
        </div>
        <div class="p-3 mt-6">
            <p class="text-center text-lg font-medium mb-3">Your Items</p>

            <div class="flex flex-col relative border-2 border-gray-400 w-full h-[140px] rounded-md mb-2">
                <div class="flex items-center justify-end w-full bg-[#19911D] h-4 rounded-tl-[4px] rounded-tr-[4px]">
                </div>
            </div>
        </div>
    </div>
</div>